* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: initial;
}

html,
body {
  max-width: 100vw;
}

.itsyou {
  margin-left: 10px;
}

.div-pad {
  margin-top: 05px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.test {
  display: flex;
  align-items: center;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.amix {
  display: flex;
}

.buttonCustom {

  height:  54px;
  width: 54px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  border: 2px ;
  position: 'absolute';
  display: flex;
  align-items: center;
  justify-content: center;
  left: 2;
  cursor: pointer;
  margin: 0.5%;
} 

.bi.bi-chevron-left:hover path {
  fill: #F29224;  /* Cambia el color a rojo cuando pasas el mouse sobre el SVG */
}
.bi.bi-chevron-left:active path {
  fill: #ef8904; /* Cambia el color a rojo cuando pasas el mouse sobre el SVG */
}


.fullscreen-button {
  position: fixed; /* Esto fija el botón en la pantalla */
  top: 0; /* Lo sitúa en la parte superior de la pantalla */
  left: 0; /* Lo sitúa en el borde izquierdo de la pantalla */
  width: 100vw; /* Hace que el ancho del botón sea igual al ancho de la ventana del navegador */
  height: 100vh; /* Hace que la altura del botón sea igual a la altura de la ventana del navegador */
  background-color: rgba(255, 255, 255, 0); /* Color de fondo del botón */
  color: rgba(255, 255, 255, 0); /* Color del texto del botón */
  font-size: 24px; /* Tamaño del texto del botón */
  border: none; /* Quita el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  z-index: -1;
}